<?xml version="1.0" encoding="utf-8" ?>

<!--
Sample license text.
-->
<KettleModel.Properties.Settings>
  <setting name="Repositories" serializeAs="Xml">
  <value>
    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>Test|C:\Projects\CNHI\Reflow\trunk\Kettle\repository</string>
    </ArrayOfString>
  </value>
</setting>
</KettleModel.Properties.Settings>
